<%= form_for [@book, @user_book] do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :book_id %>

  <%= f.submit t("views.book.show.markas"), class: "btn btn-primary" %>
  <div>
    <%= f.select :mark_type, Mark.mark_types.keys, include_blank: true %>
  </div>
  <div>
  <%= f.label :favorite, class: "checkbox inline" do %>
    <%= f.check_box :favorite, {}, "true", "false" %>
    <div><%= t "views.mark.favorite" %></div>
  <% end %>
  </div>
<% end %>
